<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
    <meta charset="UTF-8" />
    {% block head %}
        <title>pastebin</title>
    {% endblock %}
</head>
<body>
<nav>
    <div id="global">
        <a href="{{ path('app_root') }}"><div id="logo"></div></a>
        <a href="/" id="create">New paste</a>
        <a href="https://github.com/mikigal/pastebin" id="repository" target="_blank" class="optional">Repository</a>
        <a href="#" class="optional">API</a>
        <a href="#" class="optional">API</a>
        <a href="#" class="optional">API</a>
    </div>

    <div id="account">
        <a href="{{ path('app_pastes') }}"><i class="fas fa-paste"></i></a>
        <a href="{{ path('app_panel') }}"><i class="fas fa-cog"></i></a>

        {% if app.user %}
            <a href="{{ path('app_panel') }}" id="username">{{ app.user.username }}</a>
            <a href="{{ path('app_panel') }}"><img src="{{ asset('images/guest.png') }}" alt=""/></a> <!-- TODO: User avatars -->
            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a href="{{ path('app_login') }}" id="username">Guest user</a>
            <a href="{{ path('app_login') }}"><img src="{{ asset('images/guest.png') }}" alt=""/></a>
        {% endif %}
    </div>
</nav>

<div id="container">
    <div id="content">
        {% block body %}

        {% endblock %}
    </div>

    <div id="sidebar" class="optional">
        <h1>Last Pastes</h1>

        {% for paste in sidebar %}
            <div class="separator"></div>
            <a href="{{ path('app_paste', {name: paste.name}) }}">
                {% if paste.title != null %}
                    {{ paste.title }}
                {% else %}
                    Untitled
                {% endif %}
             </a>
            <p>{{ paste.syntax }} | {{ paste.uploadDate|ago }} </p>
        {% endfor %}

        <div class="separator"></div>
    </div>
</div>
</body>
</html>
