{% extends 'base.html.twig' %}
{% block head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <h1>Create new paste</h1>

    {{ form_widget(form.content) }}

    <h2>Optional paste settings</h2>

    <div id="inputs">
        <div id="labels">
            {{ form_label(form.title) }}
            {{ form_label(form.syntax) }}
            {{ form_label(form.visibility) }}
        </div>

        <div id="widgets">
            {{ form_widget(form.title) }}
            {{ form_widget(form.syntax) }}
            {{ form_widget(form.visibility) }}

            <div class="g-recaptcha" data-sitekey="{{ recaptcha }}"></div>
            <input type="submit" value="Create new paste" />

            <div id="error">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}